@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc;
  color: #2f3237;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
